script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
link#custom-css(href='/stylesheets/custom_css/posts.css', rel='stylesheet')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
head
    h1(style='text-align:center') 게시판이라는 제목
    p(style='text-align: center')
        button(type='button' class='btn btn-primary' onclick="location.href='/write'") 글쓰기
        button(type='button' class='btn btn-primary' onclick='main_alert()' style='margin-left: 8px' alert='메인으로가면 다시 로그인해야합니다!') 메인으로
table.type09(id='List')
    thead
        tr
            th(scope='cols' style="width:10%") Num
            th(scope='cols' style="width:45%") Title
            th(scope='cols' style="width:25%") Date
            th(scope='cols' style="width:10%") Written by
    tbody#tbody
            for post in posts
                tr
                    td= post.id
                    td(style='cursor:hand' onclick=`send_post(${post.id})`)= post.title
                    td= post.created_at
                    td= post.uid

script.
    function main_alert(){
        var ask = confirm('메인으로 가게되면 다시 로그인하셔야합니다!');
        if(ask === true){
            location.replace('/')
        }else{
            return;
        }
    }

    function send_post(id){
        document.location.href='post?pid='+id;
    }


