link(rel='stylesheet', href='stylesheets/css/bootstrap.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
div(style='margin-left:3%; margin-right:3%')
    div(style='text-align: left; margin-top:3%; height: 50%')
        div(style='padding: 8px; border: solid 1px red')
            p(style='font-size:18px; margin:0px;') 제목: #{title}
            p(style='font-size:15px; margin:0px; text-align:right') 글쓴이: #{writer}
            hr(style='border: solid 1px')
            p(style='height:50%; weight:100%') #{content}

            div(style='padding: 0 8px 8px; text-align:right')
                button(type="button" class='btn btn-primary' onclick="location.href='/posts'") 게시판으로 돌아가기
    hr
    div
        for comment in comments
            p 댓글내용: #{comment.content}
            p 작성자: #{comment.uid} | 작성시간: #{comment.created_at}
            hr

    div
        textarea.textarea#content(ng-model='text2', placeholder='댓글내용', style='width: 80%; height: 80px; margin-bottom:5px')
    div(style='padding-bottom:3%')
        input#uid(type='text', name='id', placeholder='아이디', style='margin-right:5px')
        input#password(type='password', name='password', placeholder='비밀번호', style='margin-right: 5px')
        button(type="button" class='btn btn-primary' onclick='comment()' style='text-align: right') 댓글 쓰기

script.
    function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        var sval = "";
        params = params.split("&");
        for (var i = 0; i < params.length; i++) {
            var temp = params[i].split("=");
            if ([temp[0]] == sname) {
                sval = temp[1];
            }
        }
        return sval;
    }
    var pid = getParam('pid');
    var content = document.getElementById('content');
    var uid = document.getElementById('uid');
    var password = document.getElementById('password');
    var url = 'http://localhost:3000/comment';
    function comment() {
        /*
        //ajax방식을 이용했음 -> 성공!
        var data = {'pid': pid, 'content': content.value, 'uid': uid.value, 'password':password.value};
        data = JSON.stringify(data);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.send(data);
        xhr.addEventListener('load', function(){
            var result = JSON.parse(xhr.responseText);
            if(result.result == 'ok'){
                alert('작성완료!')
                location.replace(window.location.href)
            }else if(result.result == 'no'){
                alert('비밀번호를 확인해주세요!')
                return
            }else if(result.result == 'none'){
                alert('존재하지 않는 아이디입니다!')
            }
        })
        */
        //TTD를 구현하는방법에 대해서 조사하고 해보자
        /*
        axios.post(url, {
            pid: pid.value,
            content: content.value,
            uid: uid.value,
            password: password.value
        })
            .then(function (response) {
                var result = JSON.parse(response);
                if(result.result == 'ok'){
                    alert('댓글 작성완료!')
                    location.replace(window.location.href)
                }else if(result.result == 'no'){
                    alert('비밀번호를 확인해주세요!')
                    return
                }else if(result.result == 'none'){
                    alert('존재하지 않는 아이디입니다!')
                    return
                }
            })
            .catch(function (error) {
                console.log(error);
            })
        */
        //fetch방식으로는 성공!
        let data = {
            pid: pid,
            content: content.value,
            uid: uid.value,
            password: password.value
        };
        let response = fetch(url,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            if (result.result == 'ok') {
                alert('댓글 작성완료!');
                location.replace(window.location.href);
            } else if (result.result == 'no') {
                alert('비밀번호를 확인해주세요!');
                return
            } else if (result.result == 'none') {
                alert('존재하지 않는 아이디입니다!');
                return
            }
        })




    }




