link(rel='stylesheet', href='stylesheets/css/bootstrap.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
div(style='margin-left:3%; margin-right:3%')
    div(style='text-align: left; margin-top:3%; height: 50%; border: solid 1px red')
        div(style='padding: 8px; ')
            p(style='font-size:18px; margin:0px;') #{title}
            p(style='font-size:15px; margin:0px; text-align:right') #{writer}
            hr(style='border: solid 1px')
            if(img != null)
                //aws
                //img(style='height:50%; weight:50%' src=`${img}`)
                //local
                img(style='height:50%; weight:50%' src=`/images/${img}`)
            p #{content}
    div(style='padding: 0 8px 8px; text-align:right')
        button(type="button" class='btn btn-primary' onclick="back()") 게시판으로 돌아가기
    hr
    div(style='margin:0px; padding:0px')
        -var count = 0
        for comment in comments
            div(class='row' style='display:flex; align-items:center;  margin:0px;')
                div(class='col-1' style='border-right: 1px solid;')
                    p(style="text-align:center; cursor:hand" onclick=`profile(${count}, "profile", "회원정보", 300, 400)` name='cuid') #{comment.userid}
                div(class='col-9')
                    p #{comment.content}
                div(class='col-2')
                    p #{comment.created_at}
                - count++
            hr

    div
        textarea.textarea#content(ng-model='text2', placeholder='댓글내용', style='width: 80%; height: 80px; margin-bottom:5px')
    div(style='padding-bottom:3%')
        button(type="button" class='btn btn-primary' onclick='comment()' style='text-align: right') 댓글 쓰기

script.
    function back(){
        history.back();
    }
    function profile(count, url, title, w, h){
        let tmp = document.getElementsByName('cuid')[count].innerText;
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;
        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
        var top = ((height / 2) - (h / 2)) + dualScreenTop;
        var myurl = url + '?uid=' + tmp
        var newWindow = window.open(myurl, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        if (window.focus) {
            newWindow.focus();
        }
    }

    function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        var sval = "";
        params = params.split("&");
        for (var i = 0; i < params.length; i++) {
            var temp = params[i].split("=");
            if ([temp[0]] == sname) {
                sval = temp[1];
            }
        }
        return sval;
    }

    function comment() {
        var con_test = confirm('댓글을 작성하시겠습니까??');
        if(con_test == true){
            let data = {
                pid: getParam('pid'),
                content: document.getElementById('content').value,
            }
            let response = fetch('/comment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(response => {
                    if (response.result == 'ok') {
                        alert('댓글 작성완료!');
                        location.replace(window.location.href);
                    } else if (response.result == 'no') {
                        alert('비밀번호를 확인해주세요!');
                    } else if (response.result == 'none') {
                        alert('존재하지 않는 아이디입니다!');
                    }
                })
                .catch((err) => {
                    console.error(err);
                })
        }else{
            return;
        }
    }




